<style>
  .top-block .name {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #3d5896;
  }
  .review-blocks .top-block {
    display: flex;
    align-items: center;
  }
  .review-blocks .top-block .image {
    max-width: 45px;
    border-radius: 50%;
    margin-right: 8px;
  }
  .review-descripiton .description {
    font-weight: 700;
    margin-top: 10px;
    display: block;
  }
  .review-blocks .review-star {
    color: #ffb10b;
    margin-right: 10px;
  }
  .text-star {
    color: red;
    font-weight: 500;
    font-size: 12px;
  }

  ul.review-blocks li {
    margin-bottom: 35px;
  }
  a.step__footer__previous-link {
    display: none !important;
  }
  ul.breadcrumb.breadcrumb--center {
    display: none;
  }
  .wyuscs:last-child {
    border-bottom: 0px;
  }
  [data-address-field="city"],[data-address-field="zip"] {
    width: 50% !important;
  }
  body [data-address-field="country"]{
    width:51% !important;
  }
  body [data-address-field="province"]{
    width:49% !important;
  }

  [data-step="payment_method"] .section--payment-method .content-box__row--secondary {
    display: none;
  }

  .shipping-logo {
    max-height: 30px;
    vertical-align: top;
    margin-right: 10px;
  }

  @media screen and (max-width: 767px) {
    [data-step="shipping_method"] .section:not(.section--shipping-method),
    .order-summary-toggle:not(.visible) {
    	display: none;
    }

    [data-step="payment_method"] {
      padding: 19px 0 29px;
    }


    [data-step="payment_method"] .section--payment-method {
      padding-top: 13px;
    }

    [data-step="payment_method"] .section.section--billing-address {
      padding-top: 3px;
      border-bottom: 1px solid #d9d9d9;
    }

    .section--billing-address .section__header {
      margin-bottom: 9px;
    }

    #terms-con-con#terms-con-con {
      padding-top: 5px;
      padding-bottom: 12px;
      text-align: center;
    }

    .mobile-pay-logo {
      display: none;
    }

    [data-step="contact_information"] .mobile-pay-logo {
      display: block;
    }
    
    .section--shipping-method {
    	padding-top: 0;
    }

    .wyustit:first-child {
      padding-top: 35px;
    }
    .copyright-text {
      text-align: center;
    }
    .fieldset-description.emailclass {
      margin-top: 15px;
    }
    .step__footer .mobile-pay-logo {
      top: 90px;
    }
    .step__footer .emailclass{
      bottom: 80px;
    }
    .anyflexbox .step__footer__previous-link{
      display:none !important ;
    }
    [data-address-field="city"],[data-address-field="zip"] {
      width: 100% !important;
    }
    .wyustit:first-child {
      padding-top: 103px;
    }
    [data-step="payment_method"] .hidden-on-desktop{
      display:none;
    }
    .ar64 .s8{
      width: 21%;
    }
  }
</style>
<script type="text/javascript">
  var pSettings = {
    progressBg: '{{settings.progress_bar_p}}',
    progressBg2: '{{settings.progress_bar_s}}',
    highDemandText: "{{settings.highDemandText}}",
    highDemandText2:"{{settings.highDemandText2}}",
    newsletter_text : '{{ settings.newsletter_text }}',
    reservation_ended_text:"{{ settings.reservation_ended_text }}",

    discountText: "{{ settings.discountcodeplaceholder }}",
    whyUstitle : "{{settings.title_top}}",

    whyUsImg1: '{{ settings.block_2_img | img_url : 'original' }}',
    whyUsTitle1: "{{settings.block_1_title}}",
    whyUsText1: "{{ settings.block_1_desc }}",

    whyUsImg2: '{{ settings.block_1_img | img_url : 'original' }}',
    whyUsTitle2: "{{settings.block_2_title}}",
    whyUsText2: "{{ settings.block_2_desc }}",

    customerreviewTitle : "{{settings.review_block_title}}",
    customerreviewimage : "{% if settings.customerreviewImag %}{{settings.customerreviewImag | img_url : 'original'}}{% else %}{% endif %}",
    customerReviewhtml: '{{settings.review_html_block | strip_newlines }}',
    guranteeCheckoutbadge:"{{ settings.chekcout_badge | img_url : 'original' }}",

    topBartext1 : "{{ settings.text_1 }}",
    topBartext2 : "{{ settings.text_2 }}",
    topBartext3 : "{{ settings.text_3 }}",
    topBartext4 : "{{ settings.text_4 }}",

    continueBtntext:"{{settings.continueBtntext}}",
    paymentBtntext:"{{settings.paymentBtntext}}",
    completeorderBtntext:"{{settings.completeorderBtntext}}",
    flamecartimage : "{{settings.flamecartimage | img_url : 'original' }}",
    whitetruckimage : "{{settings.whitetruckimage | img_url : 'original' }}",
    creditcardimage : "{{ settings.creditcardimage | img_url : 'original' }}",
    tickmarkimage : "{{ settings.tickmarkimage | img_url : 'original' }}",
    discountCodetext : "{{ settings.discountcodetext }}",
    discountCodeplaceholder : "{{ settings.discountcodeplaceholder }}",
  }



  function crC(e, t, s) { 
    if (s) {
      var n = new Date;
      n.setTime(n.getTime() + 60 * s * 1e3);
      var i = "; expires=" + n.toUTCString()
      } else i = "";
    document.cookie = e + "=" + t + i + "; path=/"
  }

  function rdC(e) {
    for (var t = e + "=", s = document.cookie.split(";"), n = 0; n < s.length; n++) {
      for (var i = s[n];
           " " == i.charAt(0);) i = i.substring(1, i.length);
      if (0 == i.indexOf(t)) return i.substring(t.length, i.length)
        }
    return null
  }
  function eSC(e) {
    crC(e, "", -1)
  }

  function stTM(e, t, s) {
    var n, i, d;

    function a() {
      n = t - ((Date.now() - e) / 1e3 | 0), d = n % 60 | 0, i = (i = n / 60 | 0) < 10 ? "0" + i : i, d = d < 10 ? "0" + d : d, s.textContent = i + ":" + d, n <= 0 && (clearInterval(c), document.getElementById("countdown").innerHTML = '<div class="flame-img" style="vertical-align: middle; display: inline-block; position: relative; top: 2px; margin-right: 10px;"><img src="'+pSettings.flamecartimage+'"></div> <div>'+pSettings.reservation_ended_text+'</div>', e = Date.now() + 1e3)
    }
    a();
    var c = setInterval(a, 1e3)
    }
  var wnd = window.location.href,
      chsg = '<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="#fff"><path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/></svg>';


  wnd.indexOf("checkout") > -1 && (window.onload = function() {
    var cllass = document.getElementsByClassName("content-box__emphasis");	

    var div1 = document.getElementsByClassName("step");
    var align = div1[0].getAttribute("data-step");

    var links = document.getElementsByClassName("edit_checkout");
    var string = links[0].getAttribute("action");
    if (wnd.indexOf("checkout") > -1 && (dsXt = document.getElementById("checkout_reduction_code"), document.body.insertAdjacentHTML("afterbegin", '<div class="content prH7"><div class="wrap"><div class="ar64"><div class="image_contain"><div id="sp1" class="s8 s8c"><a href="/cart"><span id="spn1"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="#fff"><path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/></svg> '+pSettings.topBartext1+'</span></a></div><div id="sp2" class="s8 s8c current"><a href="'+string+'?step=contact_information" > <span id="spn2">'+pSettings.topBartext2+'</span></a></div><div id="sp3" class="s8"><a href="'+string+'?previous_step=contact_information&step=shipping_method"><span id="spn3">'+pSettings.topBartext3+'</span></a></div><div id="sp4" class="s8"><a href="'+string+'?previous_step=shipping_method&step=payment_method"><span id="spn4"> '+pSettings.topBartext4+'</span></a></div></div></div></div></div>'), -1 === wnd.indexOf("thank_you"))) {
      if(align == 'contact_information'){document.getElementsByClassName("step__footer__continue-btn")[0].getElementsByClassName("btn__content")[0].insertAdjacentHTML("afterend", '<img class="truck-img" src="'+pSettings.whitetruckimage+'">')}
      if(align == 'shipping_method'){document.getElementsByClassName("step__footer__continue-btn")[0].getElementsByClassName("btn__content")[0].insertAdjacentHTML("afterend", '<img class="card-img" src="'+pSettings.creditcardimage+'">');}	
      if(align == 'payment_method'){
        let btn = document.getElementsByClassName("step__footer__continue-btn")[0];
        btn.setAttribute('data-trekkie-id', 'complete_order_button')
        btn.setAttribute('disabled', 'disabled'); 
        btn.getElementsByClassName("btn__content")[0].insertAdjacentHTML("afterend", '<img class="check-img" src="'+pSettings.tickmarkimage+'">')
        
        document.getElementsByClassName("order-summary-toggle")[0].classList.add('visible');
      }

      if(align == 'contact_information'){
        let firstInput = document.querySelector('[data-buyer-accepts-marketing]');
        firstInput.remove();

        let rememberMe = document.querySelector('[for="checkout_remember_me"]');
        rememberMe.parentNode.insertAdjacentHTML("afterend",
          '<div class="fieldset-description emailclass" data-buyer-accepts-marketing=""><div class="section__content"><div class="checkbox-wrapper"><div class="checkbox__input"><input name="checkout[buyer_accepts_marketing]" type="hidden" value="0"><input class="input-checkbox" data-backup="buyer_accepts_marketing" type="checkbox" value="1" name="checkout[buyer_accepts_marketing]" id="checkout_buyer_accepts_marketing"></div><label class="checkbox__label" for="checkout_buyer_accepts_marketing">'+pSettings.newsletter_text+'</label></div></div></div>'
        );

        rememberMe.parentNode.remove();
      }

      if (screen.width > 999) {
        document.getElementsByClassName("main__content")[0].insertAdjacentHTML("afterbegin", '<p class="desktoponly" style="color:#cc0000;text-align:left;font-size:18px;margin-bottom:35px;font-weight:bold;"></p><div id = "desktop" style="padding: 0px 0px 20px 0px;"><div id="countdown" class="countdownhere" style="font-weight:bold;padding-left:5px"> <div class="timer-text">'+pSettings.highDemandText+' <span id="time"></span> '+pSettings.highDemandText2+' </div></div></div>');
        var e = 600,
            t = Date.now(),
            s = rdC("pRtC"); 
        s ? t < s ? e = (s - t) / 1e3 : (eSC("pRtC"), crC("pRtC", Date.now() + 1e3 * e, e + 1)) : crC("pRtC", Date.now() + 1e3 * e, e + 1), display = document.querySelector("#time"), stTM(t, e, display), document.getElementsByClassName("countdownhere")[0].insertAdjacentHTML("afterbegin", '<div class="flame-img" style="vertical-align: middle; display: inline-block; position: relative; top: 2px; margin-right: 10px;"><img src="'+pSettings.flamecartimage+'"></div><div style="font-weight: 700; display: inline-block;padding:0 0 0 5px"> </div>'), "" != pSettings.discountText && dsXt && dsXt.setAttribute("placeholder", pSettings.discountText), document.getElementsByClassName("step__footer")[0].insertAdjacentHTML("afterend", '<div class="mobile-pay-logo" style="width: 100%; padding-top: 10px; text-align: right;"><img class="payment_logo" src="'+pSettings.guranteeCheckoutbadge+'"></div>'), document.getElementsByClassName("order-summary__sections")[0].insertAdjacentHTML("beforeend", '<div style="position: relative; clear: both;"><div class="wyustit" style="position:relative;z-index:1;text-align:center"><span style="background:#fafafa;padding:0 15px">'+pSettings.whyUstitle+'</span></div><div style="display:table;vertical-align:middle;width:100%;border-spacing:0px 20px"><div class="wyuscs"><div class="wyuscs1"><img src="' + pSettings.whyUsImg1 + '"></div><div class="wyuscs2"><span>' + pSettings.whyUsTitle1 + "</span><p>" + pSettings.whyUsText1 + '</p></div></div><div class="wyuscs"><div class="wyuscs1"><img src="' + pSettings.whyUsImg2 + '"></div><div class="wyuscs2"><span>' + pSettings.whyUsTitle2 + "</span><p>" + pSettings.whyUsText2 + "</p></div></div></div></div>"), document.getElementsByClassName("order-summary__sections")[0].insertAdjacentHTML("beforeend", '<div class="review_title"></div><div style="position:relative;"><div class="wyustit" style="position:relative;z-index:1;text-align:center; margin:0 0 10px 0;"><span style="background:#fafafa;padding:0 15px">'+pSettings.customerreviewTitle+'</span></div><div class="reviews"><img src="'+pSettings.customerreviewimage+'">'+pSettings.customerReviewhtml+' </div>');	
      } else {
        let visibleStyle = '';

        if (!pSettings.whyUstitle.length && !pSettings.whyUsTitle1.length && !pSettings.whyUsTitle2.length && !pSettings.whyUsText1.length && !pSettings.whyUsText2) {
          visibleStyle = "display: none";
        }

        document.getElementsByClassName("order-summary-toggle")[0].insertAdjacentHTML("beforebegin", '<div id = "mobile" class ="outer_count_div"><div id="countdown" class="countdownhere" style="font-weight:bold;padding-left:5px"> <div class="timer-text">'+pSettings.highDemandText+' <span id="time"></span> '+pSettings.highDemandText2+' </div></div></div>');
        var e = 600,
            t = Date.now(),
            s = rdC("pRtC");
        s ? t < s ? e = (s - t) / 1e3 : (eSC("pRtC"), crC("pRtC", Date.now() + 1e3 * e, e + 1)) : crC("pRtC", Date.now() + 1e3 * e, e + 1), display = document.querySelector("#time"), stTM(t, e, display), document.getElementsByClassName("countdownhere")[0].insertAdjacentHTML("afterbegin", '<div class="flame-img"><img src="'+pSettings.flamecartimage+'"></div><div style="font-weight: 700; display: inline-block;padding:0 0 0 0"> </div>'), "" != pSettings.discountText && dsXt && dsXt.setAttribute("placeholder", pSettings.discountText),document.getElementsByClassName("step__footer")[0].insertAdjacentHTML("afterend", '<div class="review_title"></div><div class="wyustit" style="position:relative;z-index:1;text-align:center; margin:0 0 10px 0;"><span style="background:#fafafa;padding:0 15px">'+pSettings.customerreviewTitle+'</span></div><div class="reviews"><img src="'+pSettings.customerreviewimage+'"> '+pSettings.customerReviewhtml+' </div>'), document.getElementsByClassName("step__footer")[0].insertAdjacentHTML("afterend", 
        '<div style="position: relative; padding: 0px; clear: both;' + visibleStyle + '">' + 
        '<div class="wyustit" style="position:relative;z-index:1;text-align:center">' + 
          '<span style="background:#fafafa;padding:0 15px">'+pSettings.whyUstitle+'</span></div>' +
          '<div style="display:table;vertical-align:middle;width:100%;border-spacing:0px 20px">' + 
          '<div class="wyuscs"><div class="wyuscs1"><img src="' + pSettings.whyUsImg1 + '"></div>' + 
          '<div class="wyuscs2"><span>' + pSettings.whyUsTitle1 + "</span><p>" + pSettings.whyUsText1 + '</p></div></div>' + 
          '<div class="wyuscs"><div class="wyuscs1"><img src="' + pSettings.whyUsImg2 + '"></div>' + 
          '<div class="wyuscs2"><span>' + pSettings.whyUsTitle2 + "</span><p>" + pSettings.whyUsText2 + "</p></div></div>" + 
        "</div></div>"
        ), document.getElementsByClassName("step__footer__continue-btn")[0].insertAdjacentHTML("afterend", '<div class="mobile-pay-logo" style="width: 100%; padding-top: 10px; text-align: right;"><img class="payment_logo" src="'+pSettings.guranteeCheckoutbadge+'"></div>');
      }
    }	
    b1j = document.getElementById("sp1"), b2j = document.getElementById("sp2"), b3j = document.getElementById("sp3"), b4j = document.getElementById("sp4"),c1j = document.getElementById("spn1"), c2j = document.getElementById("spn2"), c3j = document.getElementById("spn3"), c4j = document.getElementById("spn4"),c2=document.getElementById("sp2"),c3=document.getElementById("sp3"),c4=document.getElementById("sp4"),wnd.indexOf("step=contact_information") > -1 && (b1j.className = "s8 s8c", c2.className="s8 s8c current"), wnd.indexOf("previous_step=contact_information") > -1 && (b1j.className = "s8 s8c", b2j.className = "s8 s8c",  c3.className="s8 s8c current", c2j.insertAdjacentHTML("afterbegin", chsg)), wnd.indexOf("previous_step=shipping_method") > -1 && (b1j.className = "s8 s8c", b2j.className = "s8 s8c", b3j.className = "s8 s8c", b4j.className = "s8 s8c", c4.className="s8 s8c current", c2j.insertAdjacentHTML("afterbegin", chsg), c3j.insertAdjacentHTML("afterbegin", chsg)), wnd.indexOf("thank_you") > -1 && (b1j.className = "s8 s8c", b2j.className = "s8 s8c", b3j.className = "s8 s8c",b4j.className = "s8 s8c" ,c4j.insertAdjacentHTML("afterbegin", chsg))
  }); 

  var b7 = document.createElement("style");
  b7.type = "text/css";
  b7.innerHTML = '.content.prH7 {display: none !important;} .banner {padding-top: 0.25em; padding-bottom: 0.6em;} #gift-link > a {cursor: pointer;color: #282562;} div[data-address-field="address2"]{width:100% !important;}.section--contact-information .fieldset-description , .section--contact-information .section__header {display:none !important;}.section--contact-information .section__header{position: absolute;top: 0;}.sidebar .order-summary-tittle .order-summary-toggle__icon-wrapper {display: inline-block;font-size: 22px;padding-right: 10px;vertical-align: middle;}.section--shipping-address .section__title{margin-bottom: 60px;}.section--shipping-address .section__title.err_head{margin-bottom: 95px;}@media screen and (max-width: 400px){.section--shipping-address .section__title.err_head{margin-bottom: 110px;}}.section--shipping-address{padding:0;}.section--contact-information{z-index:9;position: absolute;top: 30px;left:0;right:0;}#apt-suit a{cursor:pointer;}#apt-suit i{margin-right: 5px;}.section--shipping-address  .section__content , .step__sections{position:relative;}div[data-address-field="address1"]{width:100% !important;} , div[data-address-field="province"] , .main ul.breadcrumb{display:none!important}.content.prH7{padding:8px 0}.ar64{width:100%;}.image_contain{display: -ms-flexbox;display: flex;-ms-flex-pack: justify;justify-content: space-between;}.ar64 .s8{font-size:14px;text-align:center;color:#fff;cursor:default;margin:0 3px;padding:9px 10px 9px 30px;float:left;position:relative;background-color:' + pSettings.progressBg2 + ';-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;transition:all 2s ease;width:20.8%;    border: 2px solid;border-left: 0;border-right: 0;}.ar64 .s8:first-child{margin-left:0;border-top-left-radius:4px;border-bottom-left-radius:4px}.ar64 .s8 span{position:relative}.ar64 .bordertop .s8.s8c{background-color:#00ce25}.ar64 .s8.s8c{color:#fff;background:#4c97d4;}.ar64 .s8.s8c.current{background-color: ' + pSettings.progressBg + ';box-shadow: 0px 11px 8px -10px ' + pSettings.progressBg + ', 0px -11px 8px -10px ' + pSettings.progressBg + ';border: 2px solid #000000;border-left: 0;border-right: 0;}.ar64 .s8 a{display:block;color:#ffffff;}.ar64 .s8:after,.ar64 .s8:before{content:" ";position:absolute;top:0;right:-17px;width:0;height:0;border-top:19px solid transparent;border-bottom:17px solid transparent;border-left:17px solid ' + pSettings.progressBg2 + ';z-index:2;transition:border-color .2s ease}.ar64 .s8:before{right:auto;left:0;border-left:17px solid #fff;z-index:0}.ar64 .s8:first-child:before{border:none}.ar64 .s8:first-child{margin-left:0;border-top-left-radius:4px;border-bottom-left-radius:4px}.ar64 .s8 span{position:relative}.ar64 .s8.s8c{color:#fff;background-color:' + pSettings.progressBg + '}.ar64 .s8.s8c:after{border-left:17px solid ' + pSettings.progressBg + '}.ar64 .s8.s8c.current:after {border-left: 17px solid ' + pSettings.progressBg + ';} .content{overflow: visible;}.order-summary__sections {display:block; height: auto;}.order-summary__section{width: 100%; display: inline-block;} .sidebar{background: #fafafa none repeat scroll 0 0;border-left: 1px solid #e1e1e1;padding-left: 2%;padding-right: 2%; width: 42%; -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;  } .sidebar::after{display: none;} .btn {font-size: 16px;}#countdown > div {display: inline;font-size: 12px !important;color: #000000;}.review_title > img {width: 52px; margin: 0 auto; display:table;} .review_title > span {color: #666 !important;float: right;font-weight: 700;margin-right: 163px;margin-top: 11px;} .reviews {margin: 0 0 10px;}.step__footer__continue-btn.btn {min-width: 320px;padding: 1.4em 30px;}.step__footer__continue-btn span.btn__content{  position: relative;font-weight:600;color: #fff !important;}.total-line-table__tbody img.qualify_shipping {padding: 10px 0 0;width: 100%;}#countdown{background: #fcf8e3;border: 1px solid #f1c55c;padding: 6px 0px;border-radius: 4px;} .ar64 .s8 svg{position:absolute;left:-4px;top:2px;fill: #000000;}.ar64 .s8:first-child svg{left:-16px}.wyustit:before{border-top:1px solid #dfdfdf;content:"";margin:0 auto;position:absolute;top:50%;left:0;right:0;bottom:0;width:100%;z-index:-1} .wyuscs{display:block;}.wyuscs1,.wyuscs2{display:inline-block;vertical-align:middle}.wyuscs1{width:16%;font-size:15px;padding:0 10px 0 0;}.wyuscs2{width:80%}.wyuscs2 span{font-size:14px;font-weight:700;color:#666}.wyuscs2 p{font-size:12px;color:#777}.step__footer__continue-btn span.btn__content::after{position:static;line-height:10px;} .payment_logo{margin-top: 5px; max-width: 308px; min-width: 308px; width: 100%; } .reviews-button{ width: 100%; cursor: auto; padding: 0px !important;} .reviews-button a{padding: 1.4em 3.7em; display: block; color: rgb(255, 255, 255); font-size: 16px;} .reviews-button a span { font-weight: 600; position: relative; } .reviews-button a span::after{ color: #fff; line-height: 10px;content: "a";font-family: "Avant Garde",Avantgarde,"Century Gothic",CenturyGothic,"AppleGothic",sans-serif;font-size: 27px;padding-left: 5px;position: static;vertical-align: sub; } .step__footer__continue-btn.btn img{width: 32px; display: inline-block; vertical-align: middle; position: relative; top: -1px; margin: 0px 0px 0px 5px; } .step__footer__continue-btn.btn img.check-img { width: 16px; }                                                                                                             .content-box{border:0;} .section__content .content-box {border:0;border-radius:0;}.content-box__row{ border:1px solid #d9d9d9;border-radius: 4px;} .pais-shipping {background: #fcf8e3 none repeat scroll 0 0;border: 1px dashed #d9d9d9 !important; margin: 15px 0 0;padding: 10px;}.pais-shipping .radio-wrapper {background: #ffff99 none repeat scroll 0 0;color: #009900;font-size: 14px;font-weight: bold;padding: 10px 6px;text-align: left; margin: 0 0 10px; }.pais-shipping .radio-wrapper .radio__input {padding-right:30px;display: inline-block;vertical-align: top;}.pais-shipping .radio-wrapper .radio__input input.input-radio {margin: 0;}.pais-shipping .radio-wrapper .radio__label .radio__label__accessory{} .pais-shipping .radio-wrapper img.pais-shipping-img {display: inline-block;height: 21px;margin: 1 10px 0 0;vertical-align: top;width: auto;}.pais-shipping .radio-wrapper input {margin: 0 15px 0 0;}.pais-shipping > p {color: #000;font-size: 14px;}.pais-shipping p span {color: #ce3b0a;font-weight: bold;text-decoration: underline;}                                             @media(min-width:2559px){.content.prH7{display:table;}}      @media(min-width:450px){.ar64 .s8 svg{position:relative!important;top:2px!important;right: 2px!important;}}@media(max-width:750px){.ar64 .s8{font-size:11px}.ar64 .s8:first-child{padding-left:20px}}@media only screen and (max-width: 1024px){.step__footer__continue-btn.btn {padding: 1.4em 10px;}.ar64 .s8{width:19.8%}.s8 img{left: 25%;}}                                                                                                                         @media only screen and (max-width: 999px){                                                                             #countdown {height: 34px;margin: 0 auto;width: 100%; max-width:38em; text-align: center !important; padding: 5px 5px 5px 35px !important; -webkit-box-sizing: border-box;  -moz-box-sizing:border-box; box-sizing:border-box; position:relative;} #countdown .flame-img {left: 5px !important; position: absolute !important; top: 4px !important; width: auto !important; } .flame-img img {display: block} #countdown > div {text-align: left !important; float: left; width: 100%;padding: 0 !important;}.sidebar {overflow: hidden;  padding-left: 2%;  padding-right: 2%;border-right: 1px solid #e1e1e1; width: 100%; } .outer_count_div{ padding: 0px 1em 19px;} .step__footer__previous-link, .step__footer__info {clear: both;display: block;margin: 0 0 15px; padding: 15px 0 0 !important; }	.step__footer__continue-btn.btn {min-width: 100%;} .anyflexbox .step__footer{display: block;} .payment_logo { display: table;margin: 5px auto 0; width: auto;} .anyflexbox .step__footer__previous-link, .anyflexbox .step__footer__info { display: table;float: none;margin: 0 auto 20px; } .ar64 .s8 { font-size:14px;}.emailclass{    float: left;    width: 63%;}.sidebar .order-summary-tittle {color: #197bbd;margin: 15px 0 10px;} .timer-text {margin-top: 2px;}}                                                                                                                             @media only screen and (max-width: 768px){                                                                                   body{ width:100%;} .content {display: block !important;overflow: hidden !important;width: 100%;} .review_title > img {padding: 0 0 10px;}.review_title > span {margin-right: 265px;margin-top: 17px;}.btn { padding: 1.4em 20px; } .anyflexbox .field__input-btn{ margin-left: 5px;}  .step__footer__continue-btn span.btn__content::after{position:static;line-height:14px;}  .wyustit > span{ background: #dfdfdf none repeat scroll 0 0 !important;display: block;margin: 0 0 20px;padding: 5px 10px !important;position: relative; } .wyustit > span::after {top: 100%;left: 50%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;border-color: rgba(223, 223, 223, 0);border-top-color: #dfdfdf;border-width: 10px;margin-left: -10px;}div[data-address-field="first_name"] , div[data-address-field="last_name"]{width:100% !important;} div[data-address-field="country"] }                                                                                                                             @media only screen and (max-width: 749px){                                                                             .payment_logo {max-width: 100%;min-width: 100%;}  .ar64 .s8{font-size:12px}  } ' +
  '@media only screen and (max-width: 480px){.emailclass{width:100%;text-align:left;float: none;}.review_title > span {margin-right: 189px !important; margin-top: 35px !important; }  .content .wrap{  padding: 0;} .content .wrap .main {padding-left: 10px;padding-right: 10px;padding-top: 0;} .ar64 { -webkit-box-sizing: border-box;  -moz-box-sizing:border-box; box-sizing:border-box; padding: 0 10px; width: 100%;  } .s8 img{left: 7%;}                                                   }                                                                                                                      @media only screen and (max-width: 419px){                                                                               .ar64 .s8 {    font-size: 9px;padding: 3px 6px;width: 19%;margin: 0 2px;}.ar64 .s8 span{padding-left:9px;}.ar64 .s8:first-child span{padding:0;}.ar64 .s8:after, .ar64 .s8:before{right: -12px;border-top: 12px solid transparent;border-bottom: 12px solid transparent;border-left: 10px solid ' + pSettings.progressBg2 + '}.ar64 .s8.s8c:after , .ar64 .s8.s8c.current:after {border-left: 12px solid ' + pSettings.progressBg + ';}.ar64 .s8:before{border-left: 11px solid #fff;}.ar64 .s8:after {border-left: 12px solid ' + pSettings.progressBg2 + ';}}	                                                                                                                                        @media only screen and (max-width: 399px){                                                                               .ar64 > .s8 {font-size: 10px;height: 48px;padding: 5px;} .ar64 > #sp1.s8 {padding-left: 15px;padding-right: 15px; } .pais-shipping {padding: 12px;} .pais-shipping .radio-wrapper {padding: 10px 4px;}.ar64 .s8 svg{left:5px;top:2px;width: 8px;height:8px;}.ar64 .s8 span {padding-left: 15px;} }                                                                                                                       @media only screen and (max-width: 360px){                                                                                 .review_title > span {margin-right: 95px !important;margin-top: 30px !important;} .step__footer__continue-btn.btn {min-width: 100%;}.s8 img{left:0;}.ar64 .s8{font-size: 9px;}  .ar64 .s8 svg{left:5px;top:2px;    width: 8px;height:8px;}.ar64 .s8 span {padding-left: 15px;}}                                                                                                                        @media only screen and (max-width: 320px){                                                                                 .review_title > span {margin-right: 67px !important;margin-top: 19px !important;}#countdown > div {font-size: 11px !important;} .step__footer__continue-btn.btn {padding: 1.4em 0px;}.ar64 .s8{font-size: 7px;width: 18.5%;}   } .field__input{background-repeat: no-repeat;background-attachment: scroll;background-size: 20px 20px;background-position: 98% 50%;cursor: auto;} #__lpform_checkout_email{display: none !important}.field__input.field__input--select{background-position: 75% 50% !important;}@media only screen and (max-width: 999px){.desktoponly{display: none !important;}}@media only screen and (min-width: 1000px){.mobileonly{display: none !important;}}i.fa.fa-plus-circle{color: #ff0000;}#order-summary > div > div.order-summary__section.order-summary__section--discount.shown-if-js > i{color:#ff0000}';
  document.body.appendChild(b7);

  if('object'==typeof Checkout&&'function'==typeof Checkout.$){Checkout.$('.alt-payment-list-container').hide();Checkout.$('.alternative-payment-separator').hide();}
  var head = document.getElementsByTagName('head')[0];


  var style = document.createElement('link');
  style.rel="stylesheet"
  style.href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
  head.appendChild(style);


  function handler(){ 

    $('#checkout_email').attr("tabindex" , "1");
    $('#checkout_shipping_address_last_name').attr("tabindex" , "2");
    $('#checkout_shipping_address_address1').attr("tabindex" , "3");
    $('#checkout_shipping_address_zip').attr("tabindex" , "4");
    $('#checkout_shipping_address_city').attr("tabindex" , "5");
    $('#checkout_shipping_address_province').attr("tabindex" , "6");
    $('#checkout_shipping_address_country').attr("tabindex" , "7");
    $('#checkout_shipping_address_phone').attr("tabindex" , "8");


  }

  function all_script(){		
    var div1 = document.getElementsByClassName("step");
    var align = div1[0].getAttribute("data-step");

    if(align == 'contact_information'){document.getElementsByClassName("step__footer__continue-btn")[0].getElementsByClassName("btn__content")[0].insertAdjacentHTML("afterend", '<img class="truck-img" src="'+pSettings.whitetruckimage+'">')}
    if(align == 'shipping_method'){document.getElementsByClassName("step__footer__continue-btn")[0].getElementsByClassName("btn__content")[0].insertAdjacentHTML("afterend", '<img class="card-img" src="'+pSettings.creditcardimage+'">');}	
    if(align == 'payment_method'){document.getElementsByClassName("step__footer__continue-btn")[0].getElementsByClassName("btn__content")[0].insertAdjacentHTML("afterend", '<img class="check-img" src="'+pSettings.tickmarkimage+'">')
    }
    if (screen.width > 999) {
      document.getElementsByClassName("step__footer")[0].insertAdjacentHTML("afterend", '<div class="mobile-pay-logo" style="width: 100%; padding-top: 10px; text-align: right;"><img class="payment_logo" src="'+pSettings.guranteeCheckoutbadge+'"></div>')

    } else {
      /*
      if(align == 'contact_information'){document.getElementsByClassName("step__footer")[0].insertAdjacentHTML("afterend", '<button aria-busy="false" class="step__footer__continue-btn btn " type="submit" name="button"><span class="btn__content">'+pSettings.continueBtntext+'<img class="truck-img" src="'+pSettings.whitetruckimage+'"></span><i class="btn__spinner icon icon--button-spinner"></i></button>')}
      if(align == 'shipping_method'){document.getElementsByClassName("step__footer")[0].insertAdjacentHTML("afterend", '<button aria-busy="false" class="step__footer__continue-btn btn " type="submit" name="button"><span class="btn__content">'+pSettings.paymentBtntext+'</span><img class="card-img" src="'+pSettings.creditcardimage+'"><i class="btn__spinner icon icon--button-spinner"></i></button>');}
      if(align == 'payment_method'){document.getElementsByClassName("step__footer")[0].insertAdjacentHTML("afterend", '<button aria-busy="false" class="step__footer__continue-btn btn " type="submit" name="button"><span class="btn__content">'+pSettings.completeorderBtntext+'</span><img class="check-img" src="'+pSettings.tickmarkimage+'"><i class="btn__spinner icon icon--button-spinner"></i></button>')}
      document.getElementsByClassName("step__footer")[0].insertAdjacentHTML("afterend", '<div class="review_title"></div><div class="wyustit" style="position:relative;z-index:1;text-align:center; margin:0 0 10px 0;"><span style="background:#fafafa;padding:0 15px">'+pSettings.customerreviewTitle+'</span></div>'),document.getElementsByClassName("step__footer")[0].insertAdjacentHTML("afterend", '<div style="position: relative; padding: 10px 0px; clear: both;"><div style="display:table;vertical-align:middle;width:100%;border-spacing:0px 20px"><div class="wyuscs"><div class="wyuscs1"><img src="' + pSettings.whyUsImg1 + '"></div><div class="wyuscs2"><span>' + pSettings.whyUsTitle1 + "</span><p>" + pSettings.whyUsText1 + '</p></div></div><div class="wyuscs"><div class="wyuscs1"><img src="' + pSettings.whyUsImg2 + '"></div><div class="wyuscs2"><span>' + pSettings.whyUsTitle2 + "</span><p>" + pSettings.whyUsText2 + "</p></div></div></div></div>"), document.getElementsByClassName("step__footer__continue-btn")[0].insertAdjacentHTML("afterend", '<div class="mobile-pay-logo" style="width: 100%; padding-top: 10px; text-align: right;"><img class="payment_logo" src="'+pSettings.guranteeCheckoutbadge+'"></div>');
	  */
    }
  }
  $(document).ready(function(){
    var selectorMoveto = $(document).find('[data-address-field="zip"]'),
        selectorMovebeside = $(document).find('[data-address-field="city"]');
    selectorMoveto.insertAfter(selectorMovebeside);

    if($(window).width()<767){
      var selectordd = $(document).find('[data-shipping-address]').next('.section'),
          selectorddmovebe = $(document).find('.step__footer__continue-btn');
      selectordd.insertAfter(selectorddmovebe);
    }
  });

  $(window).on('load',function(){
    $('.order-summary__section--discount').prepend('<div  id="gift-link" style="margin: 0 0 15px 5px;display: inline-flex;"><a>'+pSettings.discountCodetext+'</a></div>');
    $('#ajax-loader-gd').hide();
    if($('#checkout_reduction_code').val() == ""){
      $('.order-summary__section--discount .edit_checkout').hide();
      $('#gift-link').click(function(){
        $('.order-summary__section--discount .edit_checkout').show();
      });
    }

    {% if settings.hide_shippingcost_payment_page %}
    if(Shopify.Checkout.step === 'payment_method'){
      $(document).find('.content-box .review-block:nth-child(3)').hide();
    }
    {% endif %}
  })
</script>