{% comment %} MAIN NAV {% endcomment %}
<div class="mega-menu_for advanced-menu" data-for="{{ section.settings.megamenu_for }}">
  <h4 class="mobile-nav-header">{{section.settings.mobile_nav_header}}</h4>
  {% for block in section.blocks %}
    {% if block.type == "menu" %}
      {% if linklists[block.settings.link_list].links.size > 0 %}

        {% comment %} MAIN NAV - first level link-list {% endcomment %}
        <div class="first-level-list">
          <ul>
            {% for link in linklists[block.settings.link_list].links %}
              {% for block in section.blocks %}
                {% if block.type == "link_icon" and block.settings.link_text == link.title %} 
                  {% assign menu_item_image = block.settings.link_image | img_url: 'master' %}
                {% endif %}
              {% endfor %}
              <li>
                <a href="{{ link.url }}" data-collection-name="{{link.title}}" onMouseover="hoveMenuItems(this)" data-link-id={{forloop.index}}>{% if menu_item_image %}{{menu_item_image | img_tag}}{% endif %}{{ link.title }}</a>
              </li>
              {% assign menu_item_image = '' %}
            {% endfor %}
          </ul>
        </div>

        {%- comment -%}MAIN NAV - advanced (right) block{%- endcomment -%}
        <div class="advanced-block">
          {% for link in linklists[block.settings.link_list].links %} 
            {% comment %} SINGLE ITEM for advanced block {% endcomment %}
            <div class="advanced-block-single" data-wrapper-id={{forloop.index}}>
              <div class="advanced-block-content">
                {% if link.links.size > 0 %}
                  <div class="sub-menu-block">
                    <a href="{{link.url}}"><h3>{{link.title}}</h3></a>
                    <ul class="advanced-sub-links">
                      {% for sub_link in link.links %}
                        <li>
                          <a href="{{ sub_link.url }}" data-collection-name="{{sub_link.title}}" 
                          {% comment %} onMouseover="hoveSecondMenuItems(this)" {% endcomment %}
                          >{{ sub_link.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}
                {% for block in section.blocks %}
                  {% if block.type == "link_icon" and block.settings.link_text == link.title %} 
                    {% if block.settings.link_product_1 != blank %}
                      {% assign product_1 = block.settings.link_product_1 %}
                    {% endif %}
                    {% if block.settings.link_product_2 != blank %}
                      {% assign product_2 = block.settings.link_product_2 %}
                    {% endif %}
                    {% break %}
                  {% endif %}
                {% endfor %}

                {% if product_1 != blank or product_2 != blank %}
                  <div class="featured-products">
                    {% if product_1 != blank %}
                      {% include 'nav-related-product', product_item:all_products[product_1] %}
                    {% endif %}
                    {% if product_2 != blank %}
                      {% include 'nav-related-product', product_item:all_products[product_2] %}
                    {% endif %}
                  </div>
                  {% assign product_1 = '' %}
                  {% assign product_2 = '' %}
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endif %}
  {% endfor %}
</div>

{% comment %} MOBILE NAVIGATION {% endcomment %}
<div class="advanced-mobile-menu">
    <h4 class="mobile-nav-header">{{section.settings.mobile_nav_header}}</h4>
    {% for block in section.blocks %}
      {% if block.type == "menu" %}
        {% comment %} mobile nav first level links {% endcomment %}
        {% if linklists[block.settings.link_list].links.size > 0 %}
          <div class="first-level-list">
            <ul>
              {% for link in linklists[block.settings.link_list].links %}
                {% for block in section.blocks %}
                  {% if block.type == "link_icon" and block.settings.link_text == link.title %} 
                    {% assign menu_item_image = block.settings.link_image | img_url: 'master' %}
                  {% endif %}
                {% endfor %}
                <li>
                  <a href="{{ link.url }}" data-collection-name="{{link.title}}" data-link-id={{forloop.index}}>{% if menu_item_image %}{{menu_item_image | img_tag}}{% endif %}{{ link.title }}</a>
                </li>
                {% assign menu_item_image = '' %}
              {% endfor %}
            </ul>
          </div>
          <div class="second-level-list">
            {% for link in linklists[block.settings.link_list].links %} 
              <div class="menu-advanced-block" data-wrapper-id={{forloop.index}}>
                <div class="advanced-block-item">
                  <a class="mobile-arrow-back">{% include "icon-arrow-right" %}</a>
                    {% if link.links.size > 0 %}
                      <div class="sub-menu-block">
                        <div class="mobile-nav-heading">
                          <a href="{{link.url}}">
                            <h3>{{link.title}}</h3>
                          </a>
                          <a href="{{link.url}}" class="view-more-collection">{{'general.navigation.view_more_collections' | t}}</a>
                        </div>
                        {% comment %} mobile nav second level links {% endcomment %}
                        <ul class="advanced-sub-links">
                          {% for sub_link in link.links %}
                            <li class="mobile-second-list">
                              <a href="{{ sub_link.url }}" data-collection-name="{{sub_link.title}}">{{ sub_link.title }}</a>
                              {% if sub_link.links.size > 0 %}
                                <div class="mobile-nav-third-level">
                                  <div class="mobile-nav-heading">
                                    <a class="third-level-back">{% include "icon-arrow-right" %}</a>
                                    <a href="{{ sub_link.url }}">
                                      <h3>{{sub_link.title}}</h3>
                                    </a>
                                    <a href="{{link.url}}" class="view-more-collection">{{'general.navigation.view_more_collections' | t}}</a>
                                  </div>
                                  {% comment %} mobile nav third level links {% endcomment %}
                                  <ul>
                                    {% for third_level_link in sub_link.links %}
                                      <li>
                                        <a href="{{ third_level_link.url }}">{{ third_level_link.title }}</a>
                                      </li>
                                    {% endfor %}  
                                  </ul>
                                </div>
                              {% endif %}
                            </li>
                          {% endfor %}
                        </ul>
                      </div>
                    {% endif %}

                    {% comment %} mobile nav featured products only main category {% endcomment %}
                  {% for block in section.blocks %}
                  {% if block.type == "link_icon" and block.settings.link_text == link.title %} 
                    {% if block.settings.link_product_1 != blank %}
                      {% assign product_1 = block.settings.link_product_1 %}
                    {% endif %}
                    {% if block.settings.link_product_2 != blank %}
                      {% assign product_2 = block.settings.link_product_2 %}
                    {% endif %}
                    {% break %}
                  {% endif %}
                {% endfor %}

                {% if product_1 != blank or product_2 != blank %}
                  <div class="featured-products">
                    {% if product_1 != blank %}
                      {% include 'nav-related-product', product_item:all_products[product_1] %}
                    {% endif %}
                    {% if product_2 != blank %}
                      {% include 'nav-related-product', product_item:all_products[product_2] %}
                    {% endif %}
                  </div>
                  {% assign product_1 = '' %}
                  {% assign product_2 = '' %}
                {% endif %}
                </div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      {% endif %}
    {% endfor %}     
</div>

{% schema %}
{
  "name": "Custom Navigation",
  "class": "mega-menu_section",
  "settings": [
    {
      "type": "text",
      "id": "megamenu_for",
      "label": "Menu item"
    },
    {
      "type": "text",
      "id": "best_seller_text",
      "label": "Best Sellers text"
    }, 
    {
      "type": "text",
      "id": "mobile_nav_header",
      "label": "Mobile Navigation Title"
    }
  ],
  "blocks": [
    {
      "type": "menu",
      "name": "Linklist",
      "settings": [
        {
          "type": "link_list",
          "id": "link_list",
          "label": "First menu"
        }
      ]
    },
    {
      "type": "link_icon",
      "name": "Menu Advanced Settings",
      "settings": [
        {
          "type": "image_picker",
          "id": "link_image",
          "label": "Icon"
        }, 
        {
          "type": "text",
          "id": "link_text",
          "label": "Menu Item Title"
        },
        {
          "type": "product",
          "id": "link_product_1",
          "label": "Product 1"
        },
        {
          "type": "product",
          "id": "link_product_2",
          "label": "Product 2"
        }
      ]
    }
  ]
}
{% endschema %}
