{%- assign social_icons = false -%}
{%- assign inline_list = false -%}

{%- if
    settings.social_twitter_link != blank
    or settings.social_facebook_link != blank
    or settings.social_pinterest_link != blank
    or settings.social_instagram_link != blank
    or settings.social_tumblr_link != blank
    or settings.social_snapchat_link != blank
    or settings.social_youtube_link != blank
    or settings.social_vimeo_link != blank
    or template.name == 'article'
    or template.name == 'blog' -%}
    {%- assign social_icons = true -%}
{%- endif -%}

<footer class="site-footer" role="contentinfo">
    <div class="container">
        <div class="site-footer__content">
            {%- for block in section.blocks -%}
                <div class="site-footer__item{% if section.blocks.size == 1 %} site-footer__item--center{% endif %} {{ footer_item }}{% if block.type == 'newsletter' and section.blocks.size == 3 %} site-footer-newsletter__one-half{% endif %}" {{ block.shopify_attributes }}>
                    <div class="site-footer__item-inner site-footer__item-inner--{{ block.type }}">

                        {%- if block.settings.title -%}
                            <p class="h4">{{ block.settings.title | escape }}</p>
                        {%- endif -%}

                        {%- case block.type -%}
                        {%- when 'newsletter' -%}
                            <div class="site-footer__newsletter{% if section.blocks.size == 1 %} site-footer__single-block--centered{% endif %}">
                                {%- assign formId = 'ContactFooter' -%}
                                {% form 'customer', id: formId, novalidate: 'novalidate' %}
                                    {%- if form.posted_successfully? -%}
                                        <p class="form-message form-message--success" tabindex="-1" data-form-status>
                                            {{ 'general.newsletter_form.confirmation' | t }}
                                        </p>
                                    {%- endif -%}
                                    <input type="hidden" name="contact[tags]" value="newsletter">
                                    <div class="input-group {% if form.errors %} input-group--error{% endif %}">
                                        <input type="email"
                                               name="contact[email]"
                                               id="{{ formId }}-email"
                                               class="input-group__field newsletter__input{% if form.errors %} input--error{% endif %}"
                                               value="{{ form.email }}"
                                               placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
                                               aria-label="{{ 'general.newsletter_form.email_placeholder' | t }}"
                                               aria-required="true"
                                               required
                                               autocorrect="off"
                                               autocapitalize="off"
                                                {% if form.errors %}
                                            aria-invalid="true"
                                            aria-describedby="{{ formId }}-email-error"
                                        data-form-status
                                                {% endif %}>
                                        <span class="input-group__btn">
                        <button type="submit" class="btn newsletter__submit" name="commit" id="Subscribe">
                          <span class="newsletter__submit-text--large">{{ 'general.newsletter_form.submit' | t }}</span>
                        </button>
                      </span>
                                    </div>
                                    {% if form.errors contains 'email' %}
                                        <span id="{{ formId }}-email-error" class="input-error-message">
                        <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                        {% include 'icon-error' %}
                        <span class="site-footer__newsletter-error">{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
                      </span>
                                    {% endif %}
                                {% endform %}
                            </div>

                        {%- when 'text' -%}
                            {%- if block.settings.text != blank -%}
                                <div class="site-footer__rte{% if section.blocks.size == 1 %} site-footer__single-block--centered{% endif %}">
                                    {{ block.settings.text }}
                                    <a href="tel:{{ block.settings.tel | replace: " ", "" }}">{{ block.settings.tel }}</a><br>
                                    <a href="{{ block.settings.link }}">{{ block.settings.link_text }}</a>
                                </div>
                            {%- endif -%}

                        {%- when 'link_list' -%}
                        {%- assign footer_linklist = block.settings.menu -%}
                            <ul class="site-footer__linklist{% if inline_list %} list--inline{% endif %}">
                                {%- for link in linklists[footer_linklist].links -%}
                                    <li class="site-footer__linklist-item">
                                        <a href="{{ link.url }}"{% if link.current %} aria-current="page"{% endif %}>
                                            {{ link.title | escape }}
                                        </a>
                                    </li>
                                {%- endfor -%}
                            </ul>
                        {%- endcase -%}
                    </div>
                </div>
            {%- endfor -%}


            <div class="site-footer__item">
                <div class="grid__item site-footer__payment-icons">
                    {% if section.settings.show_payment_icons %}
                        {% unless shop.enabled_payment_types == empty %}
                            <p class="h4">{{ 'general.payment.method' | t }}</p>
                            <ul class="payment-icons list--inline site-footer__icon-list">
                                {% for type in shop.enabled_payment_types %}
                                    <li class="payment-icon">
                                        {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endunless %}
                    {% else %}
                        {%- for block in section.blocks -%}
                            {%- case block.type -%}
                            {%- when 'payment_icons' -%}
                                <span>{{ 'general.payment.method' | t }}</span>
                            {% assign icons = block.settings.icon | split: "," %}
                                {% for icon in icons %}
                                    <img src="{{ icon | file_url }}" alt="{{ icon }}">
                                {% endfor %}
                            {%- endcase -%}
                        {%- endfor -%}
                    {% endif %}
                </div>
                {%- if social_icons -%}
                    <p class="h4">{{ 'general.social.social_title' | t }}</p>
                    <ul class="list--inline site-footer__social-icons social-icons site-footer__icon-list">
                        {%- if settings.social_facebook_link != blank -%}
                            <li>
                                <a title="Facebook" class="social-icons__link" href="{{ settings.social_facebook_link | escape }}"
                                   aria-describedby="a11y-external-message">
                                    {%- include 'icon-facebook' -%}
                                    <span class="icon__fallback-text">Facebook</span>
                                </a>
                            </li>
                        {%- endif -%}
                        {%- if settings.social_twitter_link != blank -%}
                            <li>
                                <a title="Twitter" class="social-icons__link" href="{{ settings.social_twitter_link | escape }}"
                                   aria-describedby="a11y-external-message">
                                    {%- include 'icon-twitter' -%}
                                    <span class="icon__fallback-text">Twitter</span>
                                </a>
                            </li>
                        {%- endif -%}
                        {%- if settings.social_pinterest_link != blank -%}
                            <li>
                                <a title="Pinterest" class="social-icons__link" href="{{ settings.social_pinterest_link | escape }}"
                                   aria-describedby="a11y-external-message">
                                    {%- include 'icon-pinterest' -%}
                                    <span class="icon__fallback-text">Pinterest</span>
                                </a>
                            </li>
                        {%- endif -%}
                        {%- if settings.social_instagram_link != blank -%}
                            <li>
                                <a title="Instagram" class="social-icons__link" href="{{ settings.social_instagram_link | escape }}"
                                   aria-describedby="a11y-external-message">
                                    {%- include 'icon-instagram' -%}
                                    <span class="icon__fallback-text">Instagram</span>
                                </a>
                            </li>
                        {%- endif -%}
                        {%- if settings.social_tumblr_link != blank -%}
                            <li>
                                <a title="Tumblr" class="social-icons__link" href="{{ settings.social_tumblr_link | escape }}"
                                   aria-describedby="a11y-external-message">
                                    {%- include 'icon-tumblr' -%}
                                    <span class="icon__fallback-text">Tumblr</span>
                                </a>
                            </li>
                        {%- endif -%}
                        {%- if settings.social_snapchat_link != blank -%}
                            <li>
                                <a title="Snapchat" class="social-icons__link" href="{{ settings.social_snapchat_link | escape }}"
                                   aria-describedby="a11y-external-message">
                                    {%- include 'icon-snapchat' -%}
                                    <span class="icon__fallback-text">Snapchat</span>
                                </a>
                            </li>
                        {%- endif -%}
                        {%- if settings.social_youtube_link != blank -%}
                            <li>
                                <a title="YouTube" class="social-icons__link" href="{{ settings.social_youtube_link | escape }}"
                                   aria-describedby="a11y-external-message">
                                    {%- include 'icon-youtube' -%}
                                    <span class="icon__fallback-text">YouTube</span>
                                </a>
                            </li>
                        {%- endif -%}
                        {%- if settings.social_vimeo_link != blank -%}
                            <li>
                                <a title="Vimeo" class="social-icons__link" href="{{ settings.social_vimeo_link | escape }}"
                                   aria-describedby="a11y-external-message">
                                    {%- include 'icon-vimeo' -%}
                                    <span class="icon__fallback-text">Vimeo</span>
                                </a>
                            </li>
                        {%- endif -%}
                        {%- if template.name == 'blog' or template.name == 'article' -%}
                            <li>
                                <a title="RSS" class="social-icons__link" href="{{ shop.url }}{{ blog.url }}.atom">
                                    {%- include 'icon-rss' -%}
                                    <span class="icon__fallback-text">RSS</span>
                                </a>
                            </li>
                        {%- endif -%}
                    </ul>
                {%- endif -%}
            </div>
        </div>
    </div>
    <hr class="site-footer__hr">
    <div class="container" style="padding: 25px 15px;">
        <div class="grid grid--no-gutters small--text-center">
            <div class="grid__item{% unless social_icons %} medium-up--hide{% endunless %}">
                <small class="site-footer__copyright-content">{{ section.settings.copy_text | link_to: routes.root_url }}</small>
            </div>
        </div>
    </div>
</footer>


{% schema %}
{
  "name": "Footer",
  "max_blocks": 5,
  "settings": [
    {
      "type": "header",
      "content": "Payment methods"
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "Show payment icons",
      "default": false,
      "info": "Shopify automatically detects payment methods through selected gateway"
    },
    {
      "type": "text",
      "label": "Copyright text",
      "id": "copy_text"
    }
  ],
  "blocks": [
    {
      "type": "link_list",
      "name": "Menu",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Quick links"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu",
          "default": "footer"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Talk about your business"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Text",
          "default": "<p>Share store details, promotions, or brand content with your customers.</p>"
        },
        {
          "type": "text",
          "id": "tel",
          "label": "Phone number",
          "default": "12 34 56 78"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "Link Text"
        }
      ]
    },
    {
      "type": "payment_icons",
      "limit": 1,
      "name": "Payment Icons",
      "settings": [
        {
          "type": "text",
          "id": "icon",
          "label": "Payment Icons",
          "info": "This uses the payment icons from the files tab. ('admin > settings > files') To add an icon write the full name of the files seperated with comma(,)"
        }
      ]
    },
    {
      "type": "newsletter",
      "limit": 1,
      "name": "Newsletter signup",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "info": "Subscribers will be added to your “accepts marketing” [customer list.](/admin/customers?query=&accepts_marketing=1)",
          "default": "Newsletter"
        }
      ]
    }
  ]
}
{% endschema %}
