{% if section.blocks.size > 0 %}
    <div class="product-tabs tabs">
        <div class="container">
            <ul class="tabs__nav">
                {% assign tab_index = 0 %}

                {%- for block in section.blocks -%}
                    <li class="tabs__nav-item {% if tab_index == 0 %}tabs__nav-item--active{% endif %}{% if block.type == "reviews" %} reviews-tab-heading hidden-reviews{% endif %}" {{ block.shopify_attributes }}
                        data-tab-index="{{ tab_index }}">
                        {%- case block.type -%}

                        {%- when 'description' -%}
                            {{ 'products.product.description' | t }}
                        {% when 'reviews' %}
                            {{ 'products.product.reviews' | t }}
                        {%- when 'global_tab' -%}
                        {%- assign global_tab_page = pages[block.settings.page] -%}

                            {%- unless global_tab_page.empty? -%}
                                {{ global_tab_page.title }}
                            {%- endunless -%}
                        {%- endcase -%}
                    </li>
                    {% assign tab_index = tab_index | plus: 1 %}
                {%- endfor -%}

                {% for tag in product.tags %}
                    {% if tag contains "tab_" %}
                        <li class="tabs__nav-item custom-tab {% if tab_index == 0 %}tabs__nav-item--active{% endif %}"
                            data-tab-index="{{ tab_index }}">
                            {{ tag | split: "tab_" | last | replace: "-", " " }}
                            {% assign tab_index = tab_index | plus: 1 %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>


            <div class="tabs__content">
                {% assign tab_index = 0 %}

                {% for block in section.blocks %}
                    <div class="tabs__content-item {% if tab_index == 0 %}tabs__content-item--active{% endif %}">
                        {% case block.type %}

                        {% when 'description' %}
                            <div class="descriptiontab">
                                <div class="rte">
                                  {% if section.settings.collapse_descripition %}
                                    <div class="colapsed-text">
                                      {{ product.description }}
                                    </div>
                                    <div class="read-more-holder">
                                      <a class="read-more" data-read-less="{{ 'products.product.product_read_less' | t }}" data-read-more="{{ 'products.product.product_read_more' | t }}">{{ 'products.product.product_read_more' | t }}</a>
                                    </div>
                                  {% else %}
                                      {{ product.description }}
                                  {% endif %}
                                </div>
                            </div>
                        {% when 'reviews' %}
                            <div class="reviews-tab">
                                {% if settings.use_aliexpress %}{% include 'aliexpress_reviews' %}{% endif %}
                            </div>
                        {% when 'global_tab' %}
                        {% assign global_tab_page = pages[block.settings.page] %}

                            {% unless global_tab_page.empty? %}
                                <div class="rte">
                                    {{ global_tab_page.content }}
                                </div>
                            {% endunless %}
                        {% endcase %}
                    </div>

                    {% assign tab_index = tab_index | plus: 1 %}
                {% endfor %}
                {% for tag in product.tags %}
                    {% if tag contains "tab_" %}
                        <div class="tabs__content-item {% if tab_index == 0 %}tabs__content-item--active{% endif %}">
                            <div class="rte">
                                {% assign pageC = tag | split: "tab_" | last %}
                                {{ pages[pageC].content }}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}

<script>
  $(document).ready(function(){
    let interval = setInterval(function(){
      if ($('.add-to-cart__form .reviews_rating_title').length) {
        let clonedRaiting = $('.add-to-cart__form .reviews_rating_title:not(.header_reviews_number)').clone();
        $('.reviews-tab-heading').append(clonedRaiting);
        $('.hidden-reviews').removeClass('hidden-reviews');
      	clearInterval(interval);
      }
    }, 300);
    
    setTimeout(function() {
      clearInterval(interval);
    }, 5000);
  });
</script>

{% schema %}
{
  "name": "Product tabs",
  "class": "shopify-section__product-tabs",
  "settings": [
    {
      "type": "checkbox",
      "id": "collapse_descripition",
      "label": "Colapse Text?",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "description",
      "name": "Description",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Product's description will be inserted in this tab."
        }
      ]
    },
    {
      "type": "reviews",
      "name": "Reviews",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Product's reviews will be inserted in this tab."
        }
      ]
    },
    {
      "type": "global_tab",
      "name": "Global tab",
      "settings": [
        {
          "type": "page",
          "id": "page",
          "label": "Page",
          "info": "The title and content of the page will be used for the tab"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "description",
        "settings": {}
      }
    ]
  }
}
{% endschema %}