<div class="usp-bar container">
    <div class="usp">
        {% if settings.usp_title1 != blank %}
            <div class="usp-top-point">
                {% assign svg = settings.usp_point_icon1 %}
                {% if settings.usp_point_icon1 != blank %}<img style="width: 20px;height: 20px;" src="{{ svg | file_url }}" alt="">{% endif %}
                <div>
                    {{ settings.usp_title1 }}
                </div>
            </div>
        {% endif %}
        {% if settings.usp_title2 != blank %}
            <div class="usp-top-point">
                {% assign svg = settings.usp_point_icon2 %}
                {% if settings.usp_point_icon2 != blank %}<img style="width: 20px;height: 20px;" src="{{ svg | file_url }}" alt="">{% endif %}
                <div>
                    {{ settings.usp_title2 }}
                </div>
            </div>
        {% endif %}
        {% if settings.usp_title3 != blank %}
            <div class="usp-top-point">
                {% assign svg = settings.usp_point_icon3 %}
                {% if settings.usp_point_icon3 != blank %}<img style="width: 20px;height: 20px;" src="{{ svg | file_url }}" alt="">{% endif %}
                <div>
                    {{ settings.usp_title3 }}
                </div>
            </div>
        {% endif %}
    </div>
</div>

{% schema %}
{
  "name": "Top Selling points",
  "class":"shopify-section-usp"
}
{% endschema %}